
body {
    background-image: url("../images/hiking.jpg") !important;
    background-color: #cccccc;
    background-size: cover; 
    height: 100vh;
    width: 100vw;
}

header {
    margin: auto;
    padding: 20px;
    text-align: center;
    color: white;
    width: 50vw;
    position: sticky;
}

h1 {
    font-size: 300%;
}

.card {
    border: 3px solid black;
    text-align: center;
}



div.card-section {
    border-top: 3px solid black
}



.mapDiv {
    margin: 0 auto;
}



#content {
    width: 100vw;
}

#homeButton {
    position:absolute;
    top:25px;
    right: 50px;
    font-size: larger;
}

